@import url(http://fonts.googleapis.com/css?family=Lora:400,700|Amatic+SC:700);
::selection {
  background: #b3d4fc;
  text-shadow: none; }

html {
  background: #A5BDAB;
  color: #34353E; }

body {
  font-size: 1em;
  line-height: 1.4;
  font-family: 'Lora', Baskerville, Palatino, 'Palatino Linotype', Georgia, serif; }

h1, h2, h3 {
  font-family: 'Amatic SC', sans-serif; }

a {
  color: #454740; }
  a:hover {
    color: #FF4411; }
  a:visited {
    color: #D40015; }

pre,
blockquote {
  border: 1px solid #999;
  page-break-inside: avoid; }

* {
  box-sizing: border-box; }

#wrapper {
  width: 480px;
  margin: 0 auto; }

h1 {
  margin: 0;
  text-align: center;
  font-size: 5em;
  text-transform: uppercase;
  text-shadow: 1px 1px 3px rgba(153, 153, 153, 0.2); }

#example {
  position: relative;
  margin: 30px auto;
  width: 300px;
  height: 300px;
  background: url(spinner.svg?color=purple) 50% 50% no-repeat;
  background-size: 50%; }

#bgsize {
  position: absolute;
  bottom: 0px;
  left: 50%;
  margin-left: -80px;
  display: block;
  width: 160px;
  height: 5px;
  -webkit-appearance: none;
  -moz-apperance: none;
  background: #34353E;
  border: 1px dotted rgba(255, 255, 255, 0.7);
  border-radius: 3px; }
  #bgsize::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-apperance: none;
    width: 10px;
    height: 30px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 2px;
    background-image: -webkit-linear-gradient(#cccccc, #777777);
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2); }

pre {
  border: none;
  font-size: 1.2em; }

#github-banner {
  display: block;
  background-color: #684F41;
  color: #D1A85C;
  word-spacing: 2px;
  text-decoration: none;
  padding: 5px 15px 5px 25px;
  text-align: center; }

@media (max-device-width: 640px) {
  #bgsize {
    width: 90%;
    margin-left: -45%; }
    #bgsize::-webkit-slider-thumb {
      width: 30px;
      height: 90px; }

  #github-banner {
    font-size: 1.2em;
    width: 300px;
    margin: 50px auto;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 18px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 3px 5px rgba(0, 0, 0, 0.2); } }
@media (min-device-width: 640px) {
  #github-banner {
    position: absolute;
    right: -45px;
    top: 45px;
    width: 220px;
    border-radius: 0;
    -moz-transform: rotate(45deg);
    -moz-box-shadow: 1px 1px 5px 1px #666;
    -webkit-transform: rotate(45deg);
    -webkit-box-shadow: 1px 1px 5px 1px #666;
    -ms-transform: rotate(45deg);
    -ms-box-shadow: 1px 1px 5px 1px #666;
    transform: rotate(45deg);
    box-shadow: 1px 1px 5px 1px #666;
    font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans serif; } }
